body {
  font-family: Arial;
  background: linear-gradient(to right,#dbeafe,#e0f2fe);
  text-align:center;
}

.products {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.card {
  background:white;
  padding:10px;
  margin:10px;
  border-radius:15px;
  width:150px;
}

button {
  background:#60a5fa;
  color:white;
  border:none;
  padding:5px;
  border-radius:10px;
}
